<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Basic Latin</key>
	<dict>
		<key>h2</key>
		<dict>
			<key>from</key>
			<string>U+2460</string>
			<key>to</key>
			<string>U+24ea</string>
		</dict>
		<key>h1</key>
		<dict>
			<key>from</key>
			<string>U+2776</string>
			<key>to</key>
			<string>U+2793</string>
		</dict>
		<key>h3</key>
		<dict>
			<key>from</key>
			<string>U+2153</string>
			<key>to</key>
			<string>U+2184</string>
		</dict>
		<key>symboID</key>
		<string>3</string>
		<key>h4</key>
		<dict>
			<key>from</key>
			<string>U+0021</string>
			<key>to</key>
			<string>U+007e</string>
		</dict>
		<key>h5</key>
		<dict>
			<key>from</key>
			<string>U+00a1</string>
			<key>to</key>
			<string>U+00ff</string>
		</dict>
	</dict>
	<key>Mathematical Operators</key>
	<dict>
		<key>symboID</key>
		<string>4</string>
		<key>h1</key>
		<dict>
			<key>from</key>
			<string>U+2200</string>
			<key>to</key>
			<string>U+22f1</string>
		</dict>
	</dict>
	<key>Arrows</key>
	<dict>
		<key>symboID</key>
		<string>5</string>
		<key>h1</key>
		<dict>
			<key>from</key>
			<string>U+2190</string>
			<key>to</key>
			<string>U+21ea</string>
		</dict>
	</dict>
	<key>Geometric Shapes</key>
	<dict>
		<key>h1</key>
		<dict>
			<key>from</key>
			<string>U+25a0</string>
			<key>to</key>
			<string>U+25ff</string>
		</dict>
		<key>h5</key>
		<dict>
			<key>from</key>
			<string>U+02b0</string>
			<key>to</key>
			<string>U+02ff</string>
		</dict>
		<key>h2</key>
		<dict>
			<key>from</key>
			<string>U+2100</string>
			<key>to</key>
			<string>U+214b</string>
		</dict>
		<key>h3</key>
		<dict>
			<key>from</key>
			<string>U+2010</string>
			<key>to</key>
			<string>U+2027</string>
		</dict>
		<key>h4</key>
		<dict>
			<key>from</key>
			<string>U+2030</string>
			<key>to</key>
			<string>U+205e</string>
		</dict>
		<key>symboID</key>
		<string>6</string>
	</dict>
	<key>Misc</key>
	<dict>
		<key>symboID</key>
		<string>2</string>
		<key>h1</key>
		<dict>
			<key>from</key>
			<string>U+2600</string>
			<key>to</key>
			<string>U+260f</string>
		</dict>
		<key>h2</key>
		<dict>
			<key>from</key>
			<string>U+2611</string>
			<key>to</key>
			<string>U+2615</string>
		</dict>
		<key>h3</key>
		<dict>
			<key>from</key>
			<string>U+261a</string>
			<key>to</key>
			<string>U+269c</string>
		</dict>
		<key>h4</key>
		<dict>
			<key>from</key>
			<string>U+26a0</string>
			<key>to</key>
			<string>U+26b2</string>
		</dict>
		<key>h5</key>
		<dict>
			<key>from</key>
			<string>U+26bd</string>
			<key>to</key>
			<string>U+26be</string>
		</dict>
		<key>h6</key>
		<dict>
			<key>from</key>
			<string>U+26c4</string>
			<key>to</key>
			<string>U+26c5</string>
		</dict>
		<key>h7</key>
		<dict>
			<key>from</key>
			<string>U+26ce</string>
			<key>to</key>
			<string>U+26ce</string>
		</dict>
		<key>h8</key>
		<dict>
			<key>from</key>
			<string>U+26d4</string>
			<key>to</key>
			<string>U+26d4</string>
		</dict>
		<key>h9</key>
		<dict>
			<key>from</key>
			<string>U+26ea</string>
			<key>to</key>
			<string>U+26ea</string>
		</dict>
		<key>h10</key>
		<dict>
			<key>from</key>
			<string>U+26f2</string>
			<key>to</key>
			<string>U+26f3</string>
		</dict>
		<key>h11</key>
		<dict>
			<key>from</key>
			<string>U+26f5</string>
			<key>to</key>
			<string>U+26f5</string>
		</dict>
		<key>h12</key>
		<dict>
			<key>from</key>
			<string>U+26fa</string>
			<key>to</key>
			<string>U+26fa</string>
		</dict>
		<key>h13</key>
		<dict>
			<key>from</key>
			<string>U+26fd</string>
			<key>to</key>
			<string>U+26fd</string>
		</dict>
		<key>h14</key>
		<dict>
			<key>from</key>
			<string>U+2302</string>
			<key>to</key>
			<string>U+237a</string>
		</dict>
		<key>h15</key>
		<dict>
			<key>from</key>
			<string>U+23ce</string>
			<key>to</key>
			<string>U+23ce</string>
		</dict>
		<key>h16</key>
		<dict>
			<key>from</key>
			<string>U+23e9</string>
			<key>to</key>
			<string>U+23ec</string>
		</dict>
		<key>h17</key>
		<dict>
			<key>from</key>
			<string>U+23f0</string>
			<key>to</key>
			<string>U+23f0</string>
		</dict>
		<key>h18</key>
		<dict>
			<key>from</key>
			<string>U+23f3</string>
			<key>to</key>
			<string>U+23f3</string>
		</dict>
	</dict>
	<key>Dingbats</key>
	<dict>
		<key>symboID</key>
		<string>1</string>
		<key>h1</key>
		<dict>
			<key>from</key>
			<string>U+2701</string>
			<key>to</key>
			<string>U+275e</string>
		</dict>
		<key>h2</key>
		<dict>
			<key>from</key>
			<string>U+2761</string>
			<key>to</key>
			<string>U+2767</string>
		</dict>
		<key>h3</key>
		<dict>
			<key>from</key>
			<string>U+2794</string>
			<key>to</key>
			<string>U+27bf</string>
		</dict>
	</dict>
</dict>
</plist>
